@import "tailwindcss";

/* Optional: add any project-global styles below */
html, body, #root {
  height: 100%;
}
body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  background-color: #0a0a0a;
  color: #fff;
}